# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.egg-info/

# Database
postgres_data/

# Node/Frontend
node_modules/
frontend/dist/
.eslintcache

# OS
.DS_Store
Thumbs.db
